app-play {
    ion-scroll {
        padding: 15px;
    }
    .user-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        ion-avatar {
            margin: 10px;
            width: 100px;
            height: 100px;
            -webkit-user-drag: element;
        }
    }
    ion-list.users {
        ion-avatar {
            margin-right: 10px;
        }
        .positions {
            margin-left: auto;
            ion-button:nth-child(n+3) {
                --ion-color-primary: #e03131;
                --ion-color-primary-shade: #ff3838;
            }
        }
    }
    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-image: url(/assets/images/foosball-table.svg);
        width: 100%;
        height: 40%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        @media only screen and (min-width: 455px) {
            height: 50%;
        }
        .team {
            display: flex;
            width: 60%;
            justify-content: space-between;
            @media only screen and (min-width: 455px) {
                max-width: 325px;
                &:first-child {
                    margin-left: 56px;
                }
                &:last-child {
                    margin-left: -56px;
                }
                .player {
                    ion-avatar {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            ion-avatar {
                border: 3px solid;
            }
            &:first-child {
                .player {
                    ion-avatar {
                        border-color: #e03131;
                    }
                }
            }
            &:last-child {
                .player {
                    ion-avatar {
                        border-color: #3171e0;
                    }
                }
            }
            .player {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    text-align: center;
                    min-height: 20px;
                    background: white;
                    margin-top: 6px;
                    padding: 5px;
                    border: 1px solid #5f5f5f;
                }
            }
        }
        .versus {
            font-size: 40px;
            font-weight: bold;
            background: white;
            border-radius: 50%;
        }
    }
    .footer {
        padding: 10px;
    }
}